services:
  - type: web
    name: notification-service
    env: node
    plan: free
    region: oregon
    buildCommand: |
      npm install &&
      npx prisma generate &&
      npx prisma migrate deploy &&
      npx ts-node src/scripts/import-colaboradores.ts &&
      npm run build
    startCommand: node dist/main.js
    envVars:
      - key: NODE_ENV
        value: production
