services:
  - type: web
    name: notification-service
    env: node
    plan: free
    buildCommand: bash scripts/build-render.sh
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
    autoDeploy: true
